@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Font Face */
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Inter Font Face */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1 {
    @apply font-heading; /* applies Poppins to any h1 elements (just to test) */
  }
}
